<div class="row selector">
    <div class="col-md-12 text-center">
        <h2>Select Tool</h2>
    </div>
    <div class="col-md-6 text-right">
        <img ng-click="$ctrl.nodes();" style="cursor:pointer;width:50%;" src="/images/create_node.png"/>
        <h2>Edit Labels &lt;</h2>
    </div>
    <div class="col-md-6 text-left">

        <img ng-click="$ctrl.relations();" style="cursor:pointer;width:50%;" src="/images/create_relationship.png"/>
        <h2>&gt; Edit Relationships</h2>
    </div>
</div>