<div>
    <a class="btn btn-primary" ng-click="$ctrl.gotoRelationStart()">Back to node selection</a>
</div>
<div class="row">
    <div class="line"><div class="lineInner"></div></div>
    <h2>Creating Relation - "{{$ctrl.title}}"</h2>
    <inner ng-repeat="(node,nodeData) in $ctrl.labelData">
    <div ng-if="$first" class="col-md-4">
        <h2>From {{$ctrl.labelTitle[node]}}</h2>
        <div ng-repeat="(tableName,table) in nodeData">
            <h3>{{tableName}}</h3>
            <div class="list-group">
                <a class="list-group-item connection{{$ctrl.labels[$ctrl.labelTitle[node]].key==column.name?' active':''}}" ng-click="$ctrl.leftSide($event, this);" ng-repeat="column in table">
                    {{column.name}}<span style="float:right;" ng-if="$ctrl.labels[$ctrl.labelTitle[node]].elements[tableName].columns[column.name]"> [ {{$ctrl.labels[$ctrl.labelTitle[node]].elements[tableName].columns[column.name]}} ]</span>
                    <span style="color:#{{$ctrl.labels[$ctrl.labelTitle[node]].key==column.name?'3dae62':'cdcdcd'}}" ng-if="$ctrl.labels[$ctrl.labelTitle[node]].key==column.name"  class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div ng-if="!$first" class="col-md-4 col-md-offset-4">
        <h2>To {{$ctrl.labelTitle[node]}}</h2>
        <div ng-repeat="(tableName,table) in nodeData">
            <h3>{{tableName}}</h3>
            <div class="list-group">
                <a class="list-group-item connection" ng-repeat="column in table" ng-click="$ctrl.rightSide($event, this);">
                    {{column.name}}<span style="float:right;" ng-if="$ctrl.labels[$ctrl.labelTitle[node]].elements[tableName].columns[column.name]"> [ {{$ctrl.labels[$ctrl.labelTitle[node]].elements[tableName].columns[column.name]}} ]</span>
                    <span style="color:#{{$ctrl.labels[$ctrl.labelTitle[node]].key==column.name?'3dae62':'cdcdcd'}}" ng-if="$ctrl.labels[$ctrl.labelTitle[node]].key==column.name"  class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    </inner>

</div>